$accent-color: #f5073e;
$menu-color: #333;
$menu-text-color: #8d8d8d;
$gray-color: #808080;
$button-gray-color: #757575;
$dark-gray-color: #464646;
$white: #fff;
$black: #000;
$background-color: #f2f2f2;
$border-color: #dcdcdc;
